.env*
__pycache__
.pytest_cache
datasets_sample
logs
temp
wandb
.gitignore
.todo.txt
.github
# Ignore generated credentials from google-github-actions/auth
# https://github.com/google-github-actions/auth/tree/v2/
gha-creds-*.json